<article class="degem-teaser">
    <a href="{{ url }}">  
        {{ content.field_main_image}}
        <div class="text">
            <h3>{{ label }}</h3>
            {{ content.field_teaser}}
            <div class="read-more">{{ 'Read more'|t }}</div>
        </div>
    </a>
</article>